<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Site com HTMX e Apps</title>
    <script src="https://unpkg.com/htmx.org@1.9.4"></script>
</head>
<body>
    <header>
        <nav>
            <a href="#" hx-get="{% url 'home_partial' %}" hx-target="#conteudo">Home</a>
            <a href="#" hx-get="{% url 'menu1:conteudo_partial' %}" hx-target="#conteudo">Menu 1</a>
            <a href="#" hx-get="{% url 'menu2:conteudo_partial' %}" hx-target="#conteudo">Menu 2</a>
            <a href="#" style="float: right;" hx-get="{% url 'loginapp:form_partial' %}" hx-target="#conteudo">Login</a>
        </nav>
    </header>

    <hr>

    <div id="conteudo">
        {% include 'src/home.html' %}
    </div>

    <hr>

    <footer>
        <p>Todos os direitos reservados - {{ ano }}</p>
    </footer>
</body>
</html>
