{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token">

    <title>Almeron SmartTech</title>

    <!-- Scripts -->
    <script src="https://unpkg.com/htmx.org"></script>
    <script src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    <link rel="stylesheet" href="{% static 'css/dist/styles.css' %}">


</head>
<body class="bg-gray-100 font-sans leading-normal tracking-normal flex flex-col min-h-screen overflow-x-hidden">

    <!-- Header Atualizável -->
    <div id="header" hx-get="{% url 'header_partial' %}" hx-trigger="load" hx-swap="outerHTML">
    {% include "partials/header.html" %}
</div>

    <!-- Main Content -->
    <main class="container mx-auto mt-6 px-6 flex-grow">
        <div id="conteudo" class="bg-white shadow-md rounded-lg p-6"
             hx-get="{% url 'home_partial' %}"
             hx-trigger="load"
             hx-swap="innerHTML">
        </div>
    </main>

    <!-- Footer -->
    <footer class="bg-gray-900 text-gray-300 py-4 mt-6">
        <div class="container mx-auto text-center">
            Todos os direitos reservados - {{ ano }}
        </div>
    </footer>

</body>
</html>
