<h1 class="text-2xl font-bold text-gray-800">Seja muito(a) bem-vindo(a) ao Almeron SmartTech!</h1>
<p class="mt-4 text-gray-600">Esta plataforma educacional foi criada para auxiliar estudantes de graduação e pós-graduação na compreensão e aplicação de temas relacionados à construção civil,
    materiais de engenharia, estruturas (com foco especial em concreto armado), além de tecnologias inovadoras como BIM e IoT.
    Aqui você encontrará ferramentas interativas para automatização de cálculos, simulações e conteúdos aplicáveis diretamente em exercícios acadêmicos.</p>


