<h1 class="text-2xl font-bold text-gray-800">
    Bem-vindo(a) ao Almeron SmartTech
  </h1>
<br>
  <p class="text-lg sm:text-xl text-gray-700 leading-relaxed">
    Esta plataforma educacional foi desenvolvida para apoiar estudantes de graduação e pós-graduação na compreensão e aplicação prática de conteúdos relacionados à construção civil,
    com ênfase em estruturas de concreto armado, materiais de construção, pré-dimensionamento estrutural e tecnologias inovadoras como
    <span class="font-medium text-blue-700">BIM</span> (Building Information Modeling) e <span class="font-medium text-blue-700">IoT</span> (Internet of Things).
  </p>
  <p class="text-lg sm:text-xl text-gray-700 mt-4 leading-relaxed">
    Aqui, você encontrará <span class="text-blue-700 font-medium">ferramentas interativas</span> para automatização de cálculos, simulações e conteúdos aplicáveis diretamente em
    exercícios acadêmicos.
  </p>
</div>
