<div class="mt-6">
  <h2 class="text-xl font-bold text-gray-800 mb-2">Resultados</h2>
  <ul class="list-disc ml-6 text-gray-700">
    <li><strong>Mdtot x:</strong> {{ Mdtotx_topo|floatformat:2 }} kN·m</li>
    <li><strong>Mdtot y:</strong> {{ Mdtotx_base|floatformat:2 }} kN·m</li>
  </ul>
</div>

<div class="mt-8">
  <h2 class="text-xl font-semibold text-gray-800 mb-2">Seção com Carga Aplicada</h2>
  <div class="border border-gray-300 rounded p-4 bg-white shadow">
    {{ svg_resultado|safe }}
  </div>
</div>
