<div class="bg-gray-100 p-4 rounded">
  <h3 class="text-lg font-semibold mb-2">Resultados</h3>
  <ul class="list-disc list-inside">
      <!--
    <li><strong>Mdtotx Topo:</strong> {{ Mdtotx_topo }} kN·m</li>
    <li><strong>Mdtotx Base:</strong> {{ Mdtotx_base }} kN·m</li>
    <li><strong>Mdtotx Centro:</strong> {{ Mdtotx_centro }} kN·m</li>
    <li><strong>Mdtoty Topo:</strong> {{ Mdtoty_topo }} kN·m</li>
    <li><strong>Mdtoty Base:</strong> {{ Mdtoty_base }} kN·m</li>
    <li><strong>Mdtoty Centro:</strong> {{ Mdtoty_centro }} kN·m</li>
    -->
      <li><strong>Mdtot x:</strong> {{ Mdtotx_topo }} kN·m</li>
    <li><strong>Mdtot y:</strong> {{ Mdtotx_base }} kN·m</li>
  </ul>
</div>