
{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}Flexão Normal{% endblock title %}

{% block content %}

<div class="container mt-5">
    <h1 class="mb-4">Fleção Normal Simples Retangular</h1>
    <form method="post" novalidate>
        {% csrf_token %}
        <div class="row">
            {% for field in form %}
                <div class="col-md-4 mb-3">
                    <!-- Renderizando manualmente o label -->
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label|safe }}</label>
                    {% bootstrap_field field show_label=False %}
                </div>
            {% endfor %}
        </div>
        <div class="btn-group mt-3">
            <button type="submit" class="btn btn-primary">Calcular</button>
        </div>
    </form>

    {% if dl is not None %}
        <div class="alert alert-success mt-4" role="alert">
            <strong>Resultados:</strong><br>
            <!--- dl (h - d): {{ dl }} cm<br> --->
            As: {{ aas }} cm2<br>
            As': {{ asl }} cm2<br>
        </div>
    {% endif %}
</div>

{% endblock content %}